@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: "Outfit";
}

body{
  overflow-x: hidden;
}

.shadow{
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

input, select {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  outline: none;
  background-color: transparent;
  box-sizing: border-box;
}

.active{
  color: white;
  background: #7065F0;
  transition:all;
  transition: background-color 0.3s ease;
}

@layer components {
  .sub-menu {
    @apply absolute top-[4.2rem] p-[15px] rounded-[6px] origin-[50%_-170px] backdrop-blur bg-white/[0.04];
  }
}

@layer utilities {
  .flex-center {
    @apply flex items-center;
  }
  .flex-center-between {
    @apply flex items-center justify-between;
  }
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #afb2bf;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 4px;
  /* display: none; */
}

*::-webkit-scrollbar-track {
  background: #EDECFA;
}

*::-webkit-scrollbar-thumb {
  background-color: #7065F0;
  border-radius: 15px;
  visibility: hidden;
}

*:active::-webkit-scrollbar-thumb,
*:focus::-webkit-scrollbar-thumb,
*:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

/* Hide default styling of details/summary */
details > summary {
  list-style: none;
}
details > summary::-webkit-details-marker {
  display: none;
}